<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
	<test name="Test">
		<classes>
			<class name="TestCases.HomeTest" />
			<class name="TestCases.SigningTest" />

			<class name="TestCases.RegisterTest" />
		</classes>

	</test> <!-- Test -->
</suite> <!-- Suite -->
